aws_region      = "us-east-1"
project_name    = "lumina"
ssh_key_name    = "lumina-deploy-key"

# Database
db_name         = "Lumina"
db_user         = "lumina_user"
db_password     = "LuminaSecurePass2026!"

# Application Secrets
jwt_secret      = "RXhpc3RlIHVtYSB0ZW9yaWEgcXVlIGRpeiBxdWUsIHNlIHVtIGRpYSBhbGd16W0gZGVzY29icmlyIGV4YXRhbWVudGUgcGFyYSBxdWUgc2VydmUgbyBVbml2ZXJzbyBlIHBvciBxdWUgZWxlIGVzdOEgYXF1aSwgZWxlIGRlc2FwYXJlY2Vy4SBpbnN0YW50YW5lYW1lbnRlIGUgc2Vy4SBzdWJzdGl0de1kbyBwb3IgYWxnbyBhaW5kYSBtYWlzIGVzdHJhbmhvIGUgaW5leHBsaWPhdmVsLiBFeGlzdGUgdW1hIHNlZ3VuZGEgdGVvcmlhIHF1ZSBkaXogcXVlIGlzc28gauEgYWNvbnRlY2V1Li4u"
gemini_api_key  = "SUA_CHAVE_GEMINI_AQUI"

# Repositórios e Branches
backend_repo_branch  = "feat/lambda-alexa"
frontend_repo_branch = "feat/lambda-alexa"
db_repo_branch       = "feat/lambda-alexa"

# Alexa
alexa_service_email    = "john@doe.com"
alexa_service_password = "123456"
alexa_skill_id         = ""
